/* Ensure the map div has a height or it will stay at 0px */
#map { height:400px; }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* for all trip button */

.total-table {
    margin: 20px 0; /* Adds 20px of space above and below */
    padding: 10px;
}

/* The actual button style */
.btn-primary {
    display: inline-block;
    background-color: black; /* Professional blue */
    color: white;
    padding: 8px 8px;
    text-decoration: none; /* Removes the blue underline */
    border-radius: 6px;
    font-weight: bold;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

/* Darker blue when you hover over it */
.btn-primary:hover {
    background-color: red;
    cursor: pointer;
}
.stats-group {
    margin-bottom: 30px; /* Space between groups */
}

.stats-group h3 {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

.vertical-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.vertical-table th {
    background-color: #f8f9fa;
    width: 30%; /* Fixed width for labels */
    padding: 10px;
    border: 1px solid #dee2e6;
}

.vertical-table td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: center;
}