<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>All Stats</title>
</head>
<body>
    <div class="Total-stats-display">
    <h2>TOTAL STATS</h2>
    <table>
        <tr>
            <th>Metric</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Average Moving Speed</td>
            <td>{{  }} m/s</td>
        </tr>
        <tr>
            <td>Total Distance</td>
            <td>{{  }} meters</td>
        </tr>
        <tr>
            <td>Total Uphill</td>
            <td>{{  }} m</td>
        </tr>
        <tr>
            <td>Total Downhill</td>
            <td>{{  }} m</td>
        </tr>
        <tr>
            <td>Max Speed</td>
            <td>{{  }} m/s</td>
        </tr>
    </table>
</div>
</body>
</html>