{% import 'components/track_views.html' as views %} {% import
'components/buttons.html' as func %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Track Comparison</title>
    
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styleForWeb/compare_view.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Track Comparison</h1>
    <h1>
      <div class="unit-toggle">
        <span>Units:</span>
        <a href="/set_units/metric" class="unit-btn">Metric</a>
        <a href="/set_units/imperial" class="unit-btn">Imperial</a>
        <a href="/set_units/raw" class="unit-btn">Raw</a>
      </div>
    </h1>

      <div class="comparison-wrapper">
        {{ views.track_card(track1) }} {{ views.track_card(track2) }} 
      </div>

    {{ func.back_button(label="← Back") }}
  </body>
</html>
