<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Comparison</title>
</head>
<body>
    
    <h1>Track Comparison</h1>

<div style="display: flex; gap: 40px;">
    
    <div>
       <h2 >{{ track1.name }}</h2>

       <p>ID: {{track1.id}}</p>
       <p>Description: {{track1.description}}</p>
       <p>Track Hash:{{track1.track_hash}}</p>
       <p>Length 2D: {{track1.length_2d}}</p>
       <p>Length 3D: {{track1.length_3d}}</p>
       <p>Moving Time: {{track1.moving_time}}</p>
       <p>Stopped Time: {{track1.stopped_time}}</p>
       <p>Max Speed: {{track1.max_speed}}</p>
       <p>Average Speed: {{track1.avg_speed}}</p>
       <p>Uphill: {{track1.uphill}}</p>
       <p>Downhill:{{track1.downhill}}</p>
       <p>Start Time: {{track1.start_time}}</p>
       <p>End Time: {{track1.end_time}}</p>
       <p>Points: {{track1.points}}</p>
       <p>Filepath: {{track1.filepath}}</p>
       <p>Filename: {{track1.filename}}</p>
       <p>GPX Version: {{track1.gpx_version}}</p>

        
    </div>

    <div>
       <h2 >{{ track2.name }}</h2>

       <p>ID: {{track2.id}}</p>
       <p>Description: {{track2.description}}</p>
       <p>Track Hash:{{track2.track_hash}}</p>
       <p>Length 2D: {{track2.length_2d}}</p>
       <p>Length 3D: {{track2.length_3d}}</p>
       <p>Moving Time: {{track2.moving_time}}</p>
       <p>Stopped Time: {{track2.stopped_time}}</p>
       <p>Max Speed: {{track2.max_speed}}</p>
       <p>Average Speed: {{track2.avg_speed}}</p>
       <p>Uphill: {{track2.uphill}}</p>
       <p>Downhill:{{track2.downhill}}</p>
       <p>Start Time: {{track2.start_time}}</p>
       <p>End Time: {{track2.end_time}}</p>
       <p>Points: {{track2.points}}</p>
       <p>Filepath: {{track2.filepath}}</p>
       <p>Filename: {{track2.filename}}</p>
       <p>GPX Version: {{track2.gpx_version}}</p>

        
    </div>

</div>
</body>
</html>