{% import 'components/buttons.html' as func %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="static/js/htmx/htmx.min.js.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styleForWeb/compare_select.css') }}" />
  <title>Select Tracks</title>
</head>

<body>

  <h2 style="font-family: 'Orbitron', sans-serif; color: #f1c40f; text-align: center; text-transform: uppercase;">
      Track Database
  </h2>

  <!-- FORM STARTS HERE -->
  <form method="POST" action="{{ url_for('compare_submit') }}">

    <table>
      <thead>
        <tr>
          <th>Select</th>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody id="results">
        {% for row in tracks %}
        <tr>
          <td>
            <input 
              type="checkbox" 
              name="track_ids" 
              value="{{ row.id }}"
            >
          </td>
          <td>{{ row.id }}</td>
          <td>{{ row.name }}</td>
          <td>
            {{ row.description if row.description else "No description" }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <button type="submit">Compare Selected</button>

  </form>
  <!-- FORM ENDS HERE -->
{{ func.back_button(label="← Back") }}
</body>
</html>