{% import 'components/buttons.html' as func %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleForWeb/faq.css') }}" />
</head>
<body>
    <div class="info-container">
        <div class="back-navigation">
        {{ func.back_button(label="← Back") }}
        </div>
        <h1 class="page-title">{{ title }}</h1>

        {% for section in faq_data %}
            <div class="faq-section">
                <h2 class="section-header">{{ section.section }}</h2>

                {% for item in section.questions %}
                    <div class="faq-item">
                        <h3 class="question">{{ item.q }}</h3>
                        <p class="answer">{{ item.a }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <hr class="divider">

        <h1 class="page-title">Understanding Data Types</h1>
        <div class="data-grid">
            {% for section in types %}
                <div class="data-card">
                    <h2 class="section-header">{{ section.section }}</h2>
                    <div class="type-list">
                        {% for item in section.trackTypes %}
                            <p class="type-row">
                                <span class="type-key">{{ item.k }}</span>
                                <span class="type-val">{{ item.v }}</span>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="back-navigation">
            {{ func.back_button(label="← Back") }}
        </div>
    </div>
</body>
</html>