<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cisc4900</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
    // This creates a global variable for map.js to use
    var pathData = {{ map_points | tojson }};
</script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>

    <div class = "stats-display">
        <h2>STATS</h2>
        <table>
            <tr>
                <th>Static</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Average Moving Speed</td>
                <td>{{ avg_speed }} m/s</td>
            </tr>
            <tr>
                <td>Total Distance</td>
                <td>{{total_distance}} meters</td>
            </tr>
            <tr>
                <td>Total Duration</td>
                <td>{{duration}}</td>
            </tr>
            <tr>
                 <td>Total Uphill</td>
                 <td>{{ uphill }} m</td>
            </tr>
            <tr>
                <td>Total Downhill</td>
                <td>{{ downhill }} m</td>
            </tr>
        </table>
    </div>
    <div class = "input-gpx-form">
        <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
             <label for="file-upload" class="drop-zone">
             <span>Click or Drag GPX file here</span>
            <input id="file-upload" name="file" type="file" accept=".gpx">
            </label>
            <button type="submit">Upload</button>
        </form>
    </div>

</body>
</html>