{% import 'components/buttons.html' as func %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
    <title>LeaderBoard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleForWeb/leaderboard.css') }}">

    <script src="{{ url_for('static', filename='js/htmx/htmx.min.js') }}"></script>
</head>

<body>

    <div class="LeaderBoard_container">
        <h2>Global Leaderboards</h2>
        <h3>Rankings are based on the selected statistic</h3>
        <p>Read more about them here in FAQ: 
            <div class="user-actions">
            {{ func.action_button('faq', 'FAQ') }}
        </div>
        </p>

        
        <div class="sort_by">

            {% for field_key in valid_fields.keys() %}

                {% if loop.index0 % 3 == 0 %}
                <div class="button-row">
                {% endif %}

                    <button class="sort_btn"
                            hx-get="/leaderboard"
                            hx-vals='{"field": "{{ field_key }}"}'
                            hx-target="#leaderboard-table">

                        {{ field_key.replace('_', ' ').title() }}

                    </button>

                {% if loop.index0 % 3 == 2 or loop.last %}
                </div>
                {% endif %}

            {% endfor %}

        </div>

        <div id="leaderboard-table">
            {% include 'components/leaderboard_table.html' %}
        </div>
    </div>

    <div class="back-navigation">
        {{ func.home_button() }}
    </div>

</body>
</html>