{% import 'components/buttons.html' as func %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Trip</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='js/leaflet/leaflet.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styleForWeb/trips.css') }}" />
</head>

<body>
  <!-- Map + side panel -->
  <div id="map-container">
    <div id="map"></div>
    
    <div id="track-details">
      <h1>Track Point Info</h1>
     <div id="controls">
     <button id="play-btn" class="btn-primary">▶ Play Timelapse</button>
     </div>
     <label class="follow-label">
        <input type="checkbox" id="follow-car-toggle" checked>
        Follow Vehicle
      </label>  
     <div id = "point-readout">
      <p>Click a point on the map to see details here.</p>
     </div>
    </div>
  </div>

<!-- Stats display -->
<div class="stats-display">
  <h2>STATS</h2>
</div>
  <!-- Stats table -->
  <table id="stats-table"></table>
<div class="chart-box">
  <canvas id="tripsChart"></canvas>
</div>

<div class="chart-box">
  <canvas id="tripsChart2"></canvas>
</div>

  <!-- Leaflet JS -->
  <script src="{{ url_for('static', filename='js/leaflet/leaflet.js') }}"></script>
  <!-- Chart JS -->
  <script src="{{ url_for('static', filename='js/chartjs/dist/chart.umd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chartjs/plugins/zoom/chartjs-plugin-zoom.js') }}"></script>
  <canvas id="tripsChart"></canvas>
  


  <!-- Pass server-side data to JS -->
  <script>
    const track_points = {{ track_points | tojson }};
    const track = {{ track | tojson }};
  </script>

  <!-- Include map logic -->
  <script src="{{ url_for('static', filename='/map_tables.js') }}"></script>

  <!-- Include Chart.js logic -->
  <script src="{{ url_for('static', filename='/tripsChart.js') }}"></script>

  <!-- Back button -->
  {{ func.back_button(label="← Back") }}
</body>
</html>