"Contains reusable buttons"
{% macro back_button(label="← Back", fallback_endpoint='home') %}
    <a href="{{ url_for(fallback_endpoint) }}"
       onclick="if (document.referrer) { history.back(); return false; }"
       class="btn btn-primary">
        {{ label }}
    </a>
{% endmacro %}
{% macro stats_select(label="Stats") %}
    <a href="{{ url_for('stats_select') }}" class="btn btn-primary">{{ label }}</a>
{% endmacro %}

{% macro total_table() %}
    <a href="{{ url_for('all_trips') }}" class="btn btn-primary">Total Table</a>
{% endmacro %}

{% macro home_page_button(text, link='#', type='button', class='racing-btn') %}
    <a href="{{ link }}" style="text-decoration: none;">
        <button type="{{ type }}" class="{{ class }}">
            <span>{{ text }}</span>
        </button>
    </a>
{% endmacro %}

{% macro action_button(endpoint, label, method="get") %}
<form action="{{ url_for(endpoint) }}" method="{{ method }}">
    <button type="submit">{{ label }}</button>
</form>
{% endmacro %}


{% macro user_actions() %}
<div class="user-actions">
    {{ action_button('faq', 'FAQ') }}
    {{ action_button('account_settings', 'Account Settings') }}
    {{ action_button('logout', 'Logout', 'post') }}
</div>
{% endmacro %}